<h1>Find Dog Walkers</h1>

@if (!auth.isLoggedIn()) {
    <article>
        <span>You must log in to book dog walkers.</span>
        <button routerLink="/authenticate" mat-button color="accent">Log In</button>
    </article>
}

<br/>

<section class="search">
    <mat-form-field>
        <mat-label>Maximum Distance in Miles</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-fab color="accent">
        <mat-icon>search</mat-icon>
    </button>
</section>

