.sidenav {
    min-height: calc(100vh - 3.5rem);
    overflow: hidden;
}

.sidenav .sidebar-content {
    width: 200px;
}

.sidenav .main-content {
    padding: 2rem;
}

@media (min-width: 600px) {
    .sidenav {
        min-height: calc(100vh - 4rem);
    }
}
